.message {
  width: fit-content;
  max-width: 75%;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.5em;
  background-color: var(--fill-color);
  border-radius: 0.5em;
}
