.big-link {
  font-size: 3em;
  font-weight: 400;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 10px;
  transition-duration: 0.2s;
}

.big-link:hover {
  transition-duration: 0s;
  font-weight: 500;
}
