---
import MalyvsenPage from "@/layouts/MalyvsenPage.astro";
---

<MalyvsenPage title="malyvsen" description="Programista, pisarz, aktor">
  <a class="hover-link big-link" href="/aktor">aktor</a>
  <a class="hover-link big-link" href="/pisarz">pisarz</a>
  <a class="hover-link big-link" href="/programista">programista</a>
</MalyvsenPage>

<style>
  .big-link {
    font-size: 3em;
    margin-top: 10px;
    margin-bottom: 10px;
  }
</style>
