.link {
  font-size: 48px;
  font-weight: 400;
  color: darkgray;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 10px;
  transition-duration: 0.2s;
}

.link:hover {
  transition-duration: 0s;
  font-weight: 500;
}
